* {
    box-sizing: border-box;
  }
  .container{
    height: 100vh;
    background-color:pink;
  }
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }
  
  #two {
    position: fixed;
    top: 20px;
    left: 20px;
    background: blue;
  }
  
  #four {
    position: sticky;
    top: 20px;
    left: 50px;
    background: blue;
  }
  